@font-face {
    font-family: comic;
    src: url(./assets/fonts/ComicNeue-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: comic, sans-serif;
    color: #fff;
}

.container-full {
    padding: 0 1rem;
}